services:
  auth-service:
    build: ./auth_service
    container_name: auth-service
    ports:
      - "8001:8001"

  product-service:
    build: ./product_service
    container_name: product-service
    ports:
      - "8002:8002"
