name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Auth Service image
        run: docker build -t auth-service ./auth_service

      - name: Build Product Service image
        run: docker build -t product-service ./product_service
